#mini-country-box {
  max-height: 40px;

  width: fit-content;
  max-width: fit-content;
  padding: 8px 12px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#mini-country-box span {
  max-height: 40px;
  width: fit-content;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 300;
}
