:root{
    --DarkModeElements: hsl(209, 23%, 22%);
    --DarkModeBackground: hsl(207, 26%, 17%);
    --DarkModeTextAndLightModeElements: hsl(0, 0%, 100%);

    --LightModeText: hsl(200, 15%, 8%);
    --LightModeInput: hsl(0, 0%, 52%);
    --LightModeBackground: hsl(0, 0%, 98%);

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: black;
    color: var(--DarkModeTextAndLightModeElements);
    display: flex;
    justify-content: center;

}

main{
    width: 100vw;
    height: auto;
}

#navbar{
    height: 80px;
    background-color: var(--DarkModeElements)
}