.box {
  height: 160px;
  width: 100%;
}

.props {
  display: flex;
  flex-direction: column;
}

.props-name-value {
  display: flex;
  align-items: center;
  gap: 4px;
}

#summary-description {
  width: auto;
  max-width: 100%;

  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding: 22px;

  overflow-wrap: break-word;
  overflow: hidden;
}
