:root {
  --Elements: hsl(209, 23%, 22%);
  --Background: hsl(207, 26%, 17%);
  --TextAndLightModeElements: hsl(0, 0%, 100%);
}

body {
  background: black;
}

::placeholder {
  color: var(--TextAndLightModeElements);
}

h2 {
  color: var(--TextAndLightModeElements);
}

.container {
  background-color: var(--Background);
}

.box {
  background-color: var(--Elements);
}

.search-bar-box {
  background-color: var(--Elements);
  box-shadow: 3px 3px 3px rgb(41, 41, 41);
}

.region-select {
  color: var(--TextAndLightModeElements);
  background-color: var(--Elements);
  box-shadow: 3px 3px 3px rgb(41, 41, 41);
}

.dark-mode-img {
  filter: invert(97%) sepia(8%) saturate(74%) hue-rotate(42deg) brightness(116%)
    contrast(100%);
}

#country-summary {
  box-shadow: 3px 3px 3px rgb(31, 31, 31);
}

#props-value {
  color: var(--LightModeInput);
}

#themeSwitch button {
  color: var(--TextAndLightModeElements);
}

#search-description input {
  background-color: var(--Elements);
  color: var(--TextAndLightModeElements);
}
