:root {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans";
}

body {
  overflow-y: scroll;
  caret-color: transparent;
}

main {
  width: 100vw;
  height: auto;
}

#navbar {
  width: 100%;
  height: 80px;
  margin: auto;
  padding: 0px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
}

@media only screen and (min-width: 280px) {
  #navbar {
    padding: 0 10px;
  }

  * {
    font-size: 16px;
  }
}

@media only screen and (min-width: 720px) {
  #navbar {
    padding: 0 40px;
  }

  * {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1440px) {
  #navbar {
    padding: 0 60px;
  }

  * {
    font-size: 18px;
  }
}
