#country-info {
  /* width: 600px;
  height: 400px; */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#country-info > div:nth-of-type(1) {
  padding: 0px 0px;
  margin: 0px 0px;
}

#semi-table {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.props-info {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 100px;
}

.row-gap {
  display: flex;
  row-gap: 10px;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
}

#country-info > div:last-of-type {
  padding: 0px 0px;
  margin: 0px 0;
}

@media screen and (min-width: 280px) {
  #country-info {
    width: auto;
    padding: 0;
    gap: 20px 0;
  }

  #semi-table {
    width: 100%;
    flex-direction: column;
    gap: 30px 0;
  }

  .props-name-value {
    width: 100%;
    overflow-wrap: break-word;
  }
}
